*{
    box-sizing: border-box;
}


body{
   color:#ffffff;
font-family:Arial;
}

article{

background-color: rgb(44,43,43);
padding:1.5rem;
border-bottom:1px solid #ffffff;

}

.resaltado{
color:yellow;

}

#titulo_del_blog{
    font-size: 3rem;
    
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 35%;
    left: 40%;
}


.n{
    color:white;
}

a{
    color:white;
}

img{
    margin-top: 10px;
}

table, th, td {
   
    border: 10px solid orange;
    border-collapse: collapse;

    
    

    
    
    
padding: 5px;


}
table{margin-left: 10px;
margin-right: 500px;}

.ilustracion{
    border:4px solid #ffffff ;
    display: inline-block;

}

/*id del footer*/

#footer_blog{
    margin:2rem;
}

/*head es el estilo propio externo del pae que le voy a dar a mi blog en la parte del header */

.margenes_figcaption{
    margin-top: 1rem;
margin-left: 1rem;
font-style: italic;    
}

/* VIÑETAS ELIMINADAS*/

    nav>ul>li{
        list-style: none;
    }


    /*subrayado en links etiqueta "a" eliminadas*/
nav>ol>li>a{
    text-decoration: none;
}
    nav>ul>li>a{
        text-decoration:none ;
    }

    .etiqueta{
        background-color: #fffefe;
        padding: 0.2rem;
        border: 0.5px dashed #26628a;
      
        color: #26628a;
        white-space: nowrap;
    }