/*empiezan clases generales*/
.body_blog {
    background-color: black;
    color: #fff;
    margin: 0;}

.article_blog {
    background: rgb(44, 43, 43);
    padding: 1.3rem;
    border-bottom: 1px solid #fff;}

#titulo_del_blog {
    text-align: center;
    font-size: 3rem;}
/*terminan clases generales*/
/*barras de navegacion*/
.resaltado {
    color: yellow;}

nav>ul>li {list-style: none;}
nav>ul>li>a {text-decoration: none; color: #fff;}
/*termina barras de navegación*/
/*ilustración*/
.ilustracion {
    border: 4px solid white;
    display: inline-block;}

.reto {
    margin-top: 1rem;
    font-style: italic;
    margin-left: 1rem;}
/*fin ilustración*/

/*footer del blog*/
@media (min-width: 1024.1px){
#footer_blog {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0 4rem 0;
    font-size: 1.3rem;}}
/*fin footer del blog*/

/*Empieza grid*/
section {
    display: grid;
    /*Se crearón 12 columnas*/
    grid-template-columns: repeat(12, 1fr);
    /*Dejamos que ocupen el alto que necesitan*/
    grid-auto-rows: auto;
    /*Añadimos un espacio entre el grid de 3rem*/
    gap: 3rem;}
/*Termina grid*/

header {
    grid-column: span 12;
    grid-row: auto;}

main {grid-column: span 12;}

@media (min-width: 1024.1px){
main {
    grid-column: span 8;
    grid-row: auto;}}

aside {grid-column: span 12;}

@media (min-width: 1024.1px){
aside {
    grid-column: span 4;
    grid-row: auto;}}

footer {
    grid-column: span 12;
    grid-row: auto;}

nav {
    font-size: 1.3rem;
    position: fixed;
    width: 100%;
    background-color: black;}

nav>ul>li>a:hover {
    text-decoration: underline; 
    color: greenyellow;}

/*Pantallas de 0 a 1099px*/
nav>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem;}
    
/*Pantallas grandes*/
@media (min-width: 1100px){
nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid red;
    padding-bottom: 0.5rem;}}
    
article>header>hgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;}
    
article>header>hgroup>h2 {
    display: flex;
    align-items: center;}
    
article>header>hgroup>h2>img {padding-right: 1rem;}
    
#footer_blog div:nth-child(2) {font-size: 0.9rem;}
#footer_blog{grid-column: span 12; text-align: center; padding: 4rem 0 4rem 0; font-size: 1.3rem;}
#footer_blog div{padding: 1rem 0 1rem 0;}
    
aside>h2 {
    text-align: center;
    font-size: 1.3rem;}
    
aside>div:nth-of-type(even) {
    padding: 0.7rem;
    border-bottom: 1px dashed white;
    background-color: black;}
    
aside>div:nth-of-type(odd) {
    padding: 0.7rem;
    background-color: rgb(44, 43, 43);;
    border-bottom: 1px dashed white;}
    
aside>div>img {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.9rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;}
    
aside>div>span {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;}
    
aside>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.6rem;
    border-bottom: 1px dashed #fff;}
    
@media (min-width: 1024.1px)and(max-width: 1324.1px){
    aside>div {flex-direction: column;}}
    
#titulo_del_blog{
    text-align: center; 
    font-size: clamp(2rem,calc(1vh+2rem),7rem); 
    margin-top: calc(16vh)}