.body_blog {
    background-color: black;
    color: #fff;}

.article_blog {
    background: rgb(44, 43, 43);
    padding: 1.3rem;
    border-bottom: 1px solid #fff;}

#titulo_del_blog {
    text-align: center;
    font-size: 3rem;}

.resaltado {
    color: yellow;}

nav>ul>li {list-style: none;}
nav>ul>li>a {text-decoration: none}

.ilustracion {
    border: 4px solid white;
    display: inline-block;}

.reto {
    margin-top: 1rem;
    font-style: italic;
    margin-left: 1rem;}

#footer_blog {
    margin: 2rem;}

section {
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
  
    grid-auto-rows: auto;
    
    gap: 3rem;}


header {
    grid-column: span 12;
    grid-row: auto;}
main {
    grid-column: span 8;
    grid-row: auto;}
aside {
    grid-column: span 4;
    grid-row: auto;}
footer {
    grid-column: span 12;
    grid-row: auto;}

.otros_temas {
    color: whitesmoke;}

.instagram{
    color: thistle;}