body{
   color:#ffffff;
font-family:Arial;
}

article{

background-color: rgb(44,43,43);



}

.resaltado{
color:yellow;

}

#titulo_del_blog{
    font-size: 3rem;
    
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 35%;
    left: 40%;
}


/*background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );*/




.n{
    color:white;
}
a{
    color:white;
}

p, h2, h4, h3, figcaption, label, footer, blockquote{
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 10px;
}

img{
    margin-top: 10px;
}